body {
	background: #333;
	color: #000;
}

a, a:hover {
	color: #b9001c;
}

a:visited {
	color: #000;
}

div#container {
	background: #fff;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	box-shadow: 0px 10px 10px #000;
}
header {
	padding-top: 50px;
	text-align: center;
	color: #000;
	text-transform: uppercase;

	background: #D6BDAB; /* old browsers */
	background: -moz-linear-gradient(top, #D6BDAB 1%, #F2E3C0 5%, #FFF 100%); /* firefox */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#D6BDAB), color-stop(5%,#F2E3C0), color-stop(100%,#FFF)); /* webkit */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D6BDAB', endColorstr='#FFF',GradientType=0 ); /* ie */

	background: -o-linear-gradient(top, #D6BDAB 1%,#F2E3C0 5%,#FFF 100%); /* opera */

}

h3#oncall {
	background: #b9001c;
	padding: 10px;
	color: #fff;
	text-align: center;
	font-size: 15px;
}

header h2 {
	font-size: 40px;
	line-height: 30px;
}

header h1 {
	font-size: 100px;
	border-bottom: 5px solid #000;
	margin: 0 40px;
	margin-bottom: 5px;
	line-height: 90px;
}

header h3 {
	font-size: 30px;
	font-weight: normal;
	margin-bottom: 20px;
}

header h1#number {
	font-size: 50px;
	background: #b9001c;
	color: #fff;
	margin: 0 -50px;
	border: none;
	text-shadow: 2px 2px 10px #78000f;
}

header h1#number a {
	color: #fff;
	text-decoration: none;
}

div#tab_container {
	background: #fff;
	width: 62%;
	float: left;
}

ul#nav {
	margin: 0;
	padding-top: 10px;
}

ul#nav li {
	list-style-type: none;
	float: left;
}

ul#nav li a {
	padding: 10px;
	font-weight: bold;
	color: #000;
}

ul#nav li a.active {
	background: #f5efd7;
}

ul#nav li a:hover {
	background: #f5efd7;
	cursor: pointer;
}

div#tab_container div {
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 10px;
	clear: both;
	font-size: 20px;
}

#faq li {
	margin-bottom: 10px;
	list-style-type: square;
}

#faq li a {
	text-decoration: underline;
}

#faq li a:hover {
	cursor: pointer;
}

p {
	margin-bottom: 15px;
}

#join a {
	background: #b9001c;
	color: #fff;
	padding: 6px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-weight: bold;
	text-decoration: none;
}

#join a:hover {
	background: #000;
}

div#operators {
	width: 34%;
	float: right;
	background: #fff;
	color: #000;
	padding-right: 10px;
}

#operators h3 {
	margin: 10px 0;
	margin-bottom: 20px;
}

#operators p {
	margin: 0;
}

#operators ul {
	margin: 0;
}

#operators li {
	clear: both;
	margin-bottom: 20px;
	list-style-type: none;
}

#operators li img{
	float: left;
	margin-right: 10px;
	margin-bottom: 5px;
}

#operators li p, #operators li a {
	font-size: 12px;
}